.main {
  height: 720px;
  width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: white 1px solid;
}

.bg {
  height: 200%;
  width: 200%;
}

.screen {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
