.main {
  height: 720px;
  width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: white 1px solid;
}

.bg {
  transform: translate3d(var(--mapX), var(--mapY), 0);
}

.screen {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
